@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

body {
    padding: 20px;
    background: rebeccapurple;
}

h2 {
    /* margin: 20px; */
    margin-bottom: 20px;
    font-weight: 600;
}

.box {
    width: 200px;
    height: 200px;
    background: orange;
    margin-bottom: 20px;
    margin-right: 20px;
    display: inline-block;
    border: 3px solid black;
    text-align: center;
    line-height: 200px;
    font-size: 2em;
    font-weight: 500;
}

.rgb {
    /* 0-255 red, green, blue, alpha */
    background: rgba(45, 100, 155, 0.324);
}

.hex {
    /* r, g, b principle 0 - F */
    background: #f564ff;
    background: #f6e;
}

/* Not so boring colors */
.color-1 {
    background: #98DFD6;
}

.color-2 {
    background: #E21818;
}

.color-3 {
    background:#FFDD83;
}